.m-0 {
  margin: 0 !important;
}
p-0 {
  padding: 0 !important;
}
.announcement-bar__inner {
  --cus-size: 0.18rem;
  line-height: 1.33;
}

.header-socials .list-social__link:not(:hover) {
  color: rgb(var(--color-link));
}

.header-socials .list-social__link:hover {
  color: rgb(var(--color-link-hover));
}
#qab_container {
  display: none !important;
}

.padding-style {
  padding-left: var(--p-l, 0);
  padding-right: var(--p-r, 0);
  padding-top: var(--p-t, 0);
  padding-bottom: var(--p-b, 0);
}

.heading-section {
  font-size: var(--heading-section-size);
  color: var(--heading-section-color);
}

.section__slideshow .slider__content--wrapper .banner__text > p {
  margin: 0;
  line-height: 1;
}

.section__slideshow .slider__content--wrapper .banner__heading {
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.75);
    padding-right: calc(var(--p-r, 0) * 0.75);
    padding-top: calc(var(--p-t, 0) * 0.75);
    padding-bottom: calc(var(--p-b, 0) * 0.75);
  }
  .heading-section {
    font-size: calc(var(--heading-section-size) * 0.75);
  }
}

@media (max-width: 768px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.5);
    padding-right: calc(var(--p-r, 0) * 0.5);
    padding-top: calc(var(--p-t, 0) * 0.5);
    padding-bottom: calc(var(--p-b, 0) * 0.5);
  }
  .heading-section {
    font-size: calc(var(--heading-section-size) * 0.5);
  }
}

@media (min-width: 1024px) {
  .footer-grid__item {
    p {
      line-height: 1.33;
    }
  }
}

@media (min-width: 1800px) {
  .collection-list-content {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .swiperWrapper {
    padding-left: var(--carousel-gap);
    padding-right: var(--carousel-gap);
  }

  .swiperWrapper .carousel__controls {
    right: calc(var(--carousel-gap) * -1);
  }

  .carousel__items--custom {
    --grid-h-md-u: 7.5rem;
  }

  .section__slideshow .slider__content--wrapper {
    position: relative;
    top: 3.6rem;
    left: -2.5rem;
  }

  .section__slideshow .slider__content--wrapper .banner__heading {
    --cus-size: 6rem;
  }
}

.footer-block__heading.m-0 {
  margin: 0;
  line-height: 1.3;
}

.footer-block__subtext p {
  margin: 0;
  line-height: 1.3;
}

.custom-banner-contain img {
  object-fit: contain;
}

[style*="--max-width"] {
  max-width: var(--max-width, 100%);
}

[style*="--custom-tracking"] {
  letter-spacing: var(--custom-tracking, 0) !important;
}

[style*="--word-spacing"] {
  word-spacing: var(--word-spacing, 0) !important;
}