.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 700 !important;
}
.m-0 {
  margin: 0 !important;
}
p-0 {
  padding: 0 !important;
}
.announcement-bar__inner {
  --cus-size: 0.18rem;
  line-height: 1.33;
}

.header-socials .list-social__link:not(:hover) {
  color: rgb(var(--color-link));
}

.header-socials .list-social__link:hover {
  color: rgb(var(--color-link-hover));
}
#qab_container {
  display: none !important;
}

.padding-style {
  padding-left: var(--p-l, 0);
  padding-right: var(--p-r, 0);
  padding-top: var(--p-t, 0);
  padding-bottom: var(--p-b, 0);
}

.heading-section {
  font-size: var(--heading-section-size);
  color: var(--heading-section-color);
}

.section__slideshow .slider__content--wrapper .banner__text > p {
  margin: 0;
  line-height: 1;
}

.section__slideshow .slider__content--wrapper .banner__heading {
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.75);
    padding-right: calc(var(--p-r, 0) * 0.75);
    padding-top: calc(var(--p-t, 0) * 0.75);
    padding-bottom: calc(var(--p-b, 0) * 0.75);
  }
  .heading-section {
    font-size: calc(var(--heading-section-size) * 0.75);
  }
}

@media (max-width: 768px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.5);
    padding-right: calc(var(--p-r, 0) * 0.5);
    padding-top: calc(var(--p-t, 0) * 0.5);
    padding-bottom: calc(var(--p-b, 0) * 0.5);
  }
  .heading-section {
    font-size: calc(var(--heading-section-size) * 0.5);
  }

  .header-socials .list-social__link {
    padding: 1rem;
  }

  .header-socials .list-social__link svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1024px) {
  .footer-grid__item {
    p {
      line-height: 1.33;
    }
  }
}

@media (min-width: 1800px) {
  .padding-style-large {
    padding-left: var(--p-l, 0);
    padding-right: var(--p-r, 0);
    padding-top: var(--p-t, 0);
    padding-bottom: var(--p-b, 0);
  }
  .collection-list-content {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .swiperWrapper {
    padding-left: var(--carousel-gap);
    padding-right: var(--carousel-gap);
  }

  .swiper .swiper-pagination-progressbar {
    height: 1.2rem !important;
  }


  .swiperWrapper .carousel__controls {
    right: calc(var(--carousel-gap) * -1);
  }

  .carousel__items--custom {
    --grid-h-md-u: 7.5rem;
  }

  .section__slideshow .slider__content--wrapper {
    position: relative;
    top: 3.6rem;
    left: -2.5rem;
  }

  .section__slideshow .slider__content--wrapper .banner__heading {
    --cus-size: 6rem;
  }
}

.footer-block__heading.m-0 {
  margin: 0;
  line-height: 1.3;
}

.footer-block__subtext p {
  margin: 0;
  line-height: 1.3;
}

.custom-banner-contain img {
  object-fit: contain;
}

[style*="--max-width"] {
  max-width: var(--max-width, 100%);
}

[style*="--custom-tracking"] {
  letter-spacing: var(--custom-tracking, 0) !important;
}

[style*="--word-spacing"] {
  word-spacing: var(--word-spacing, 0) !important;
}

[style*="--leading"] {
  line-height: var(--leading, 1) !important;
}

.custom-left-large {
  left: var(--custom-left-large, auto) !important;

  @media (max-width: 2000px) {
    left: var(--layout-padding, 1rem) !important;
  }

  @media (max-width: 1024px) {
    left: calc(var(--layout-padding, 1rem) * 0.75) !important;
  }

  @media (max-width: 768px) {
    left: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .text-responsive {
    --responsive-font-size: calc(var(--font-body-size) - 0.05rem);
    --responsive-cus-size: calc(var(--cus-size, 0rem) * 0.75);
    font-size: calc(var(--responsive-font-size) + var(--responsive-cus-size, 0rem)) !important;
  }
}


@media (max-width: 768px) {
  .text-responsive {
    --responsive-font-size: calc(var(--font-body-size) - 0.1rem);
    --responsive-cus-size: calc(var(--cus-size, 0rem) * 0.5);
    font-size: calc(var(--responsive-font-size) + var(--responsive-cus-size, 0rem)) !important;
  }

  .collection-hero__content {
    width: calc(100% - 2rem);
  }
}

.logo-wrapper img {
  @media (max-width: 768px) {
    max-width: var(--logo-width-mb, 100%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: var(--scrollbar-color, transparent);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #464e5c);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, transparent);
}

.section__i-w-text {
  .item__icon > svg{
    @media (max-width: 768px) {
      max-width: 4rem;
      max-height: 4rem;
    }
  }
}