/* Mint start custom */
@font-face {
  font-family: 'Charlotte';
  src: url('./Charlotte.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-font {
  font-family: 'Charlotte', sans-serif !important;
  font-weight: 400 !important;
}

@media (min-width: 1024px) {
  .custom-font {
    word-spacing: -1.2rem;
    letter-spacing: -0.5px;
    line-height: 1.1 !important;
  }
  .heading-section.custom-font {
    letter-spacing: -3.5px;
  }
}

@media (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
}

.custom-tracking {
  letter-spacing: -0.5rem;
}

.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 700 !important;
}
.m-0 {
  margin: 0 !important;
}
p-0 {
  padding: 0 !important;
}
.announcement-bar__inner {
  --cus-size: 0.18rem;
  line-height: 1.33;
}

.header-socials .list-social__link:not(:hover) {
  color: rgb(var(--color-link));
}

.header-socials .list-social__link:hover {
  color: rgb(var(--color-link-hover));
}
#qab_container {
  display: none !important;
}

.padding-style {
  padding-left: var(--p-l, 0);
  padding-right: var(--p-r, 0);
  padding-top: var(--p-t, 0);
  padding-bottom: var(--p-b, 0);
}

.heading-section {
  font-size: var(--heading-section-size);
  color: var(--heading-section-color);
}

.section__slideshow .slider__content--wrapper .banner__text > p {
  margin: 0;
  line-height: 1;
}

.section__slideshow .slider__content--wrapper .banner__heading {
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.75);
    padding-right: calc(var(--p-r, 0) * 0.75);
    padding-top: calc(var(--p-t, 0) * 0.75);
    padding-bottom: calc(var(--p-b, 0) * 0.75);
  }
  .heading-section:not(.drawer__heading) {
    font-size: calc(var(--heading-section-size) * 0.75);
  }

  .heading-section.drawer__heading {
    font-size: calc(var(--heading-section-size) * 0.8);
  }
}

@media (max-width: 768px) {
  .padding-style {
    padding-left: calc(var(--p-l, 0) * 0.5);
    padding-right: calc(var(--p-r, 0) * 0.5);
    padding-top: calc(var(--p-t, 0) * 0.5);
    padding-bottom: calc(var(--p-b, 0) * 0.5);
  }
  .heading-section:not(.drawer__heading) {
    font-size: calc(var(--heading-section-size) * 0.5);
  }

  .header-socials .list-social__link {
    padding: 1rem;
  }

  .header-socials .list-social__link svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1024px) {
  .footer-grid__item {
    p {
      line-height: 1.33;
    }
  }

  .accordion__content {
    margin-bottom: 2rem;
    padding-left: 3.8rem;
  }
}

@media (min-width: 1800px) {
  .padding-style-large {
    padding-left: var(--p-l, 0);
    padding-right: var(--p-r, 0);
    padding-top: var(--p-t, 0);
    padding-bottom: var(--p-b, 0);
  }
  .collection-list-content {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .swiperWrapper {
    padding-left: var(--carousel-gap);
    padding-right: var(--carousel-gap);
  }

  .swiper .swiper-pagination-progressbar {
    height: 1.2rem !important;
  }


  .swiperWrapper .carousel__controls {
    right: calc(var(--carousel-gap) * -1);
  }

  .carousel__items--custom {
    --grid-h-md-u: 7.5rem;
  }

  .section__slideshow .slider__content--wrapper {
    position: relative;
    top: 3.6rem;
    left: -2.5rem;
  }

  .section__slideshow .slider__content--wrapper .banner__heading {
    --cus-size: 6rem;
  }
}

.footer-block__heading.m-0 {
  margin: 0;
  line-height: 1.3;
}

.footer-block__subtext p {
  margin: 0;
  line-height: 1.3;
}

.custom-banner-contain img {
  object-fit: contain;

  @media (max-width: 1800px) {
    object-fit: cover;
  }
}

[style*="--max-width"] {
  max-width: var(--max-width, 100%);
}

[style*="--custom-tracking"] {
  letter-spacing: var(--custom-tracking, 0) !important;
}

[style*="--word-spacing"] {
  word-spacing: var(--word-spacing, 0) !important;
}

[style*="--leading"] {
  line-height: var(--leading, 1) !important;
}

.custom-left-large {
  left: var(--custom-left-large, auto) !important;

  @media (max-width: 2000px) {
    left: var(--layout-padding, 1rem) !important;
  }

  @media (max-width: 1024px) {
    left: calc(var(--layout-padding, 1rem) * 0.75) !important;
  }

  @media (max-width: 768px) {
    left: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .text-responsive {
    --responsive-font-size: calc(var(--font-body-size) - 0.05rem);
    --responsive-cus-size: calc(var(--cus-size, 0rem) * 0.75);
    font-size: calc(var(--responsive-font-size) + var(--responsive-cus-size, 0rem)) !important;
  }
}


@media (max-width: 768px) {
  .text-responsive {
    --responsive-font-size: calc(var(--font-body-size) - 0.1rem);
    --responsive-cus-size: calc(var(--cus-size, 0rem) * 0.5);
    font-size: calc(var(--responsive-font-size) + var(--responsive-cus-size, 0rem)) !important;
  }

  .collection-hero__content {
    width: calc(100% - 2rem);
  }
}

.logo-wrapper img {
  @media (max-width: 768px) {
    max-width: var(--logo-width-mb, 100%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: var(--scrollbar-color, transparent);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #464e5c);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, transparent);
}

@media (max-width: 768px) {
  .section__i-w-text .item__icon > svg {
    max-width: 4rem;
    max-height: 4rem;
 }
}
.product__title.has-wishlist-button {
  column-gap: 5.7rem;
}
@media (max-width: 1800px) {
  .product__title.has-wishlist-button {
    column-gap: 2rem;
 }
}
.product-iwt-text {
  flex: 1;
  --cus-size: 0.2rem;
}
@media (max-width: 1024px) {
  .product-iwt-text {
    --cus-size: 0 !important;
 }
}


.product-iwt-text > p {
  margin: 0;
}

/* Product page */
.added-custom-font .custom-font-2 {
  font-family: 'Spectral';
  font-weight: 400;
}

.buy-buttons-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .buy-buttons-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.buy-buttons-group .button {
  width: 100%;
}


.product-form__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.product-form__input .quantity {
  min-height: 3.6rem !important;
}
.product-form__input .quantity__button {
  border: 1px solid rgba(var(--color-foreground), 1);
  width: 4rem;
  height: 3.6rem;
  color: rgba(var(--color-foreground), 1);
}
.product-form__input .quantity__input {
  min-width: 4rem;
  min-height: 3.6rem !important;
  max-height: 3.6rem !important;
}

.cart-item__name {
  color: var(--color-link, #898d9a);
}
.cart-item__name:hover {
  color: var(--color-link-hover, #464e5c);
}
.recommendCartCollection {
  width: 38rem;
}
@media (max-width: 800px) {
  .recommendCartCollection {
    width: 32rem;
 }
}
@media (max-width: 750px) {
  .recommendCartCollection {
    width: 100%;
 }
}
.recommendCartCollection .recommendCartCollection-inner {
  padding-left: 4rem;
}
.recommendCartCollection .recommendCartCarousel-list {
  padding-right: 3.6rem;
}

.recommendCartCollection .style-product-card .card {
  background-color: #fff;
  justify-content: center;
}
@media (min-width: 990px) {
  .recommendCartCollection .style-product-card .card {
    height: 340px;
 }
}
.recommendCartCollection .style-product-card .card__content {
  padding: 1.4rem;
}
.recommendCartCollection .style-product-card .card__content .card__heading {
  --lineHeight: 2.4rem;
  --row: 2;
  line-height: var(--lineHeight);
  height: calc(var(--lineHeight) * var(--row));
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--row);
  -webkit-box-orient: vertical;
}
@media (min-width: 1600px) {
  .recommendCartCollection .style-product-card .card__content .card__heading {
    font-size: 2.2rem;
 }
}
.recommendCartCollection .style-product-card .card__media {
  max-width: 204px;
  max-height: 204px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 990px) {
  .recommendCartCollection .style-product-card .card-function-group {
    left: unset !important;
    right: 12px !important;
    bottom: 12px !important;
    top: unset !important;
 }
}


.drawer__header > .button--close {
  background: rgba(var(--button-color-background), 1);
  color: rgba(var(--button-color-text), 1);
}

.cart-item__remove-header .button--close {
  color: rgba(var(--color-foreground), 1);
}

a {
  color: rgba(var(--color-link), 1);
}

a:hover {
  color: rgba(var(--color-link-hover), 1);
}

.previewCartTool.style--special .cartTool-item {
  border: 2px solid rgba(var(--arrow-color), 1);
  color: rgba(var(--arrow-color), 1);
}

.cart-item__remove-header .button--close {
  color: rgba(var(--arrow-color), 1);
}


@media (min-width: 1024px) {
  .drawer__header .drawer__heading {
    margin-top: 3.3rem !important;
  }
  .drawer__header > .button--close {
    margin-top: -2.7rem;
  }

  .product-card-wishlist .card {
    grid-template-columns: 10.8rem 1fr;
    grid-column-gap: 3.6rem;
    padding: 2.8rem 2.8rem 2.3rem;

    .card__function-item {
      position: relative;
      top: 0.8rem;
      right: -0.4rem;
    }
  }
  .multi-t__links .list-social__link {
		color: rgba(var(--color-foreground),1);
	}
}


@media (min-width: 3000px) {
  .lookbook__drawer-inner {
    width: 48.1vw !important;
    min-width: 80rem;
  }
    .lookbook__drawer-inner .lookbook__drawer-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 10rem !important;
  }
    .lookbook__drawer-inner .item__card-drawer {
      width: auto;
      flex: 1;
  }
    
  .lookbook__drawer-heading {
    font-size: calc(var(--heading-section-size) * 2);
  }

  lookbook-drawer .drawer__inner {
    padding-left: 4rem !important;
    padding-right: 3rem !important;
  }
    lookbook-drawer .button--close {
      width: 8.8rem;
      height: 8.8rem;
      padding: 2.5rem;
      margin-top: -2.2rem;
  }
    lookbook-drawer .drawer__header {
      margin: 0 0 3.3rem;
  }
    lookbook-drawer .item__card-title {
      font-size: 2.8rem;
      font-weight: 400;
  }
    lookbook-drawer .price {
      font-size: 3.6rem;
  }
  
}

#shopify-pc__banner {
  display: none !important;
}

@media (max-width: 1600px) {
  .section__multicolumn .content-inside-image .item__content.content--bottom > .d-block {
    padding: 2rem;  
  }
}

@media (min-width: 750px) and (max-width: 989px) {
  .header__icon+.header__icon {
      margin-left: 1rem;
  }
}

.section-header:not(.pos-sticky) .header-wrapper.transparent:not(:hover), body:not(.scroll-up,.scroll-down) .header-wrapper.header-sticky__always.transparent:not(:hover) {
  .cart-count-bubble, .wishlist-count-bubble:not(.wishlist-text-count) {
    color: rgba(var(--cart-color-text-transparent), 1);
    background: rgba(var(--cart-color-background-transparent), 1);
    background: var(--cart-gradient-background-transparent);
  }
}


.section__c-list .link--style-line h3 > .link-style {
  background: none;
}
.section__c-list .link--style-line h3 > .link-style strong {
  background: linear-gradient(90deg, currentColor 33.33333%, transparent 0 66.66666667%, currentColor 0) var(--d, 100%) 100% / 300% 2px no-repeat;
  padding-bottom: 2px;
}


@media (max-width: 750px) {
  .button.button--icon-caret {
    min-width: 18rem !important;
    min-height: 4.5rem !important;
    padding: .5rem 2rem !important;
  }
}

.custom-focus {
  height: 100%;
}

.custom-focus.show-animation {
  padding: 4px;
  border: 1px solid rgba(var(--color-foreground), 0.1);
}
:root {
  --anim-duration: 1s; 
  --border-color: rgba(var(--color-foreground), 1);
  --border-width: 1px;
}

.custom-focus.show-animation ~ .focus-border:before,
.custom-focus.show-animation ~ .focus-border:after,
.custom-focus.show-animation ~ .focus-border i:before,
.custom-focus.show-animation ~ .focus-border i:after {
  content: "";
  position: absolute;
  background-color: var(--border-color);
  animation-duration: var(--anim-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.custom-focus.show-animation ~ .focus-border:before {
  top: 0;
  left: 0;
  height: var(--border-width);
  width: 0;
  animation-name: border-top-draw;
}

.custom-focus.show-animation ~ .focus-border i:after {
  top: 0;
  right: 0;
  width: var(--border-width);
  height: 0;
  animation-name: border-right-draw;
}

.custom-focus.show-animation ~ .focus-border:after {
  bottom: 0;
  right: 0;
  height: var(--border-width);
  width: 0;
  animation-name: border-bottom-draw;
}

.custom-focus.show-animation ~ .focus-border i:before {
  bottom: 0;
  left: 0;
  width: var(--border-width);
  height: 0;
  animation-name: border-left-draw;
}

@keyframes border-top-draw {
  0% { width: 0; }
  25% { width: 100%; }
  100% { width: 100%; }
}

@keyframes border-right-draw {
  0% { height: 0; }
  25% { height: 0; }
  50% { height: 100%; }
  100% { height: 100%; }
}

@keyframes border-bottom-draw {
  0% { width: 0; }
  50% { width: 0; }
  75% { width: 100%; }
  100% { width: 100%; }
}

@keyframes border-left-draw {
  0% { height: 0; }
  75% { height: 0; }
  100% { height: 100%; }
}

@media (min-width: 750px) and (max-width: 1199px) {
  .footer-grid__item.footer-block--text,
  .footer-grid__item.footer-block--newsletter {
    width: 100%;
    max-width: 100%;
  }
}

cart-drawer .quantity__button svg {
  color: #000000;
  width: 1.2rem;
}

.style-product-card .card__inner .card__badge {
  
}

.product-card-wishlist .card__heading {
  font-size: 2.2rem;
  line-height: 1.1;
}

.product-card-wishlist .card__information .advanced__default-price-cart {
  align-items: flex-start;
}

.card__heading {
  font-weight: 400;
}

sticky-header {
  padding: 1rem 0;
}

.product__quickview-ask .ask-an-exp > p {
  margin-top: 0;
  font-style: italic;
}